.main
  %h3
    Actioncable
  .row
    %p
      .col-md-4.chat{id: "user"}
        .messages-actioncable.well
        %form.form-inline
          .form-group
            %input.form-control{:placeholder => "Lets chat!" }
          %button.btn.btn-success
            submit
